## Initializing

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_string = "/content/drive/My Drive/titanic_data.csv"
data = pd.read_csv(file_string)

## Exploration

In [3]:
data

,pclass,survived,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,1.0,1.0,29.0000,0.0,0.0,211.3375,1,0,0,0,1
1,1.0,1.0,0.9167,1.0,2.0,151.5500,0,1,0,0,1
2,1.0,0.0,2.0000,1.0,2.0,151.5500,1,0,0,0,1
3,1.0,0.0,30.0000,1.0,2.0,151.5500,0,1,0,0,1
4,1.0,0.0,25.0000,1.0,2.0,151.5500,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,0.0000,1.0,0.0,14.4542,1,0,1,0,0
1306,3.0,0.0,26.5000,0.0,0.0,7.2250,0,1,1,0,0
1307,3.0,0.0,27.0000,0.0,0.0,7.2250,0,1,1,0,0
1308,3.0,0.0,29.0000,0.0,0.0,7.8750,0,1,0,0,1
1309,0.0,0.0,0.0000,0.0,0.0,0.0000,0,0,0,0,0

`pclass`: passenger class (1-3)

`sibsp`: number of siblings or spouses aboard

`parch`: number of parents or children aboard

`fare`: passenger fare

`embarked`:  port of embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [4]:
data.describe(include='all')

,pclass,survived,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
count,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000
mean,2.293130,0.381679,23.859288,0.498473,0.384733,33.244646,0.355725,0.643511,0.206107,0.093893,0.697710
std,0.839913,0.485984,17.596499,1.041352,0.865295,51.735460,0.478915,0.479145,0.404663,0.291791,0.459426
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,7.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,24.000000,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,1.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.275000,1.000000,1.000000,0.000000,0.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      1310 non-null   float64
 1   survived    1310 non-null   float64
 2   age         1310 non-null   float64
 3   sibsp       1310 non-null   float64
 4   parch       1310 non-null   float64
 5   fare        1310 non-null   float64
 6   sex_female  1310 non-null   int64
 7   sex_male    1310 non-null   int64
 8   embarked_C  1310 non-null   int64
 9   embarked_Q  1310 non-null   int64
 10  embarked_S  1310 non-null   int64
dtypes: float64(6), int64(5)
memory usage: 112.7 KB

## Preprocessing

In [6]:
data.isnull().sum()

pclass        0
survived      0
age           0
sibsp         0
parch         0
fare          0
sex_female    0
sex_male      0
embarked_C    0
embarked_Q    0
embarked_S    0
dtype: int64

In [7]:
#Remove samples (rows) if NaN values are present.
data = data.dropna(axis=0) # axis=0 specifies we're operating on rows
print(f"The dataset's shape without NaN values: {data.shape}")

The dataset's shape without NaN values: (1310, 11)

In [8]:
data = pd.what_goes_here?(data)
data = data.drop(columns=['sex_male']) # all information is already included in sex_female, so there's no need to keep this feature
data.head()

SyntaxError: ignored

In [ ]:
# first split x and y
X = data.drop(label_here, axis=1)
y = data.loc[:, label_here]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)
print(f"X train length: {len(X_train)}, Y train length: {len(y_train)}")
print(f"X test length: {len(X_test)}, Y test length {len(y_test)}")

## Training

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg_model = LogisticRegression(max_iter=500)
log_reg_model.fit("what goes here?")

## Testing

In [ ]:
log_reg_model.score(X_test, y_test)

## Deployment

In [ ]:
leonardo = pd.DataFrame({"pclass": [3.0], "age": [23.0000], "sibsp": [0.0], 
                         "parch": [0.0], "sex_female": [0.0], "sex_male": [1], 
                         "embarked_C":[1], "embarked_Q": [0], "embarked_S": [0]})
kate = pd.DataFrame({"pclass": [1.0], "age": [22.0000], "sibsp": [1.0], 
                     "parch": [1.0], "sex_female": [1.0], "sex_male": [0], 
                     "embarked_C":[0], "embarked_Q": [1], "embarked_S": [0]})

leos_fate = "what goes here?"
kates_fate = "what goes here?"

In [ ]:
print(leos_fate)

In [ ]:
print(kates_fate)